/* svg {
  max-width: none !important;
}

.main-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  text-align: center;
}


.mermaid {
  width: 35vw;

  overflow: auto;
}

 */
